*.pyc
*.py~
*.pdf
*.pem
*.pfx
*.ptm
*.xml
*.rem
*.REM
*.ret
*.bak
*.sql
*.perp
dispach.wsgi
wsgi.py
pip-selfcheck.json
bin/
venv/
venv2/
django/
include/
lib/
local/
share/
.vscode/
.idea/
erp/service/fpdf/files/*
erp/paginas/templates/imagens_empresas/*
erp/paginas/templates/danfe/*
homologacao/*
erp/service/certificados/*
erp/service/nota_fiscal/arquivos_xml/*
erp/service/cnab/arquivos/*
__pycache__/
settings.py
.favorites.json
erp/msedgedriver.log
erp/geckodriver.log
